page-home {
    .home-title{
        color: white;
    }
    
    .home-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    .home-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    }
    .home-bg{
        // background: url('../assets/img/fondo_login.png');
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        background-color: black;

    }

.text-input-wp{
    border-color: #554C4A;
}


}
