page-buscar {

    .buscar-bg{
        background: url('../assets/img/fondo_login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        

    }
}
