page-menu {
    .menu-title{
        color: white;
    }
    .nav-color{
        background-color: black;
        color: black;
    }
    .menu-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    .menu-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    }
    .menu-bg{
        background: url('../assets/img/fondo_login.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        

    }

.text-input-wp{
    border-color: #554C4A;
}


}
